.sidenav  {
    font-family: 'Neuton', serif;
    margin-left: 5%;
    float: left;
    display: block;
    color: darkslategrey;
    font-size: larger;
    font-weight: bolder;
}

    .main {
        font-family: 'Assistant', sans-serif;
        font-size: large;
        margin-left: 5%;
        float: inline-start;
        display: block;}

        h1     {
            font-family: 'Luckiest Guy', cursive;
            text-align: center;
            color: darkred;
        }
